* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

@import "partials/colors";

body {
  font-family: "poppins", sans-serif;
  color: $text-color;
  background-color: $primary-background;
  width: 100%;
  height: 100vh;

  margin: 50px 0;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;

  img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ffff;
    opacity: 0.9;
  }

  h1,
  h3,
  p {
    background: linear-gradient(
      to right,
      #ffffff 90%,
      $primary-background 103%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.link {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.btn {
  display: inline-block;
  text-decoration: none;
  color: $text-color;
  border: 2px solid #ffffff;
  border-radius: 25px;
  font-size: 18px;
  width: auto;
  max-width: 300px;
  margin: 10px auto;
  transition: background-color 0.6s;

  padding: 15px 110px;
}

.btn:hover {
  background-color: $text-color;
  color: $primary-background;
  font-weight: 600;
}

.icon {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
  font-size: 2rem;

  a {
    text-decoration: none;
    color: #ffffff;
    transition: 0.4s;
  }

  a:hover {
    color: $primary-background;
  }
}

footer {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  margin: 100px 0 0 0;

  p {
    background: linear-gradient(
      to right,
      #ffffff 70%,
      $primary-background 110%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

// particles.js
#particles-js {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

// animation

// buttons

// second and fourth buttons
.puff-in-left {
  -webkit-animation: puff-in-left 0.8s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s
    both;
  animation: puff-in-left 0.8s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s both;
}

@-webkit-keyframes puff-in-left {
  0% {
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes puff-in-left {
  0% {
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

// First and third buttons
.puff-in-right {
  -webkit-animation: puff-in-right 0.8s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s
    both;
  animation: puff-in-right 0.8s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s both;
}

@-webkit-keyframes puff-in-right {
  0% {
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes puff-in-right {
  0% {
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

// photo
.slide-in-blurred-top {
  -webkit-animation: slide-in-blurred-top 0.8s cubic-bezier(0.23, 1, 0.32, 1)
    both;
  animation: slide-in-blurred-top 0.8s cubic-bezier(0.23, 1, 0.32, 1) both;
}

@-webkit-keyframes slide-in-blurred-top {
  0% {
    -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
    transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes slide-in-blurred-top {
  0% {
    -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
    transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

//text
.tracking-in-expand {
  -webkit-animation: tracking-in-expand 0.9s cubic-bezier(0.215, 0.61, 0.355, 1)
    0.5s both;
  animation: tracking-in-expand 0.9s cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s
    both;
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

// icons

.pulsate-bck {
  -webkit-animation: pulsate-bck 0.5s ease-in-out infinite 1s both;
  animation: pulsate-bck 0.7s ease-in-out infinite 1s both;
}

@-webkit-keyframes pulsate-bck {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes pulsate-bck {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

// media queries
